<div class="row">
  <% if params[:tag] %>
    <div class="col-lg-12">
      <p>Displaying results for <span class="fa fa-tag"></span><%= params[:tag] %></p>
    </div>
  <% end %>

  <% @sites.each do |site| %>
    <div class="col-lg-3">
      <div class="bs-site-thumbnail">
        <%= link_to site, title: site.title do %>
          <%= image_tag site.screenshot.url(:thumb), alt: site.title %>
        <% end %>

        <%= link_to site.url, title: "Go to #{site.url}", class: 'bs-direct-link', target: '_blank' do %>
          <span class="fa fa-link"></span>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="col-lg-12">
    <div class="bs-pagination">
      <%= will_paginate @sites, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>

